body {
    background: var(--main_background_color);


    /* background: red; */
    padding: 0;
    margin: 0;
}

:root {
    --card_width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
    --main_background_color: #0E1116;
}




.card_small {
    grid-row-end: span var(--card_small);
    display: flex;
    justify-content: center;


}

.card_medium {
    grid-row-end: span var(--card_medium);
    display: flex;
    justify-content: center;
}

.card_large {
    grid-row-end: span var(--card_large);
    display: flex;
    justify-content: center;
}

.card {
    padding: 0px;
    margin: 12px 10px;
    border-radius: 10px;


    overflow: hidden;


    background-color: darkgray;
}

.card_image {

    width: 50%;
    margin: auto;
    display: block;
}

.container {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/unECuInDmOstWkdzmAtgjf1odsfQvoi6lRoYuGNQ7I2sCXODCK4FcDpnaxWZZ1LU2J0rD7cqKuL_TT6FF2gyg29rnjXuaN9mdxY91dMe6MHooFQdhmz9ZlyHrltCbkqikUuMd2Dw6leLIcu0_WBK7wrD643wqmbaR-qGmdCp9bN0_H6fFYvNfi-KLeaXu79O_f2b4MwrtK1gybGkkpvI5c9mKbDVlL0eWLgAdu8ivBTg24iWK75t_QWn1Z4wEpjyJBj_z0700b-xbxjmZoyALtnJaQbVbCQnk01lVvD2WEM_Ue9PA1pKAggv5G0h2KL5ma-11T6RgnEQOvCFzGJxZltPbBnne68eebeFt18YUKbLguk88yDES-WtNJGmvoIZFt5yUDo5budrDg1l_DLhnwSVdAg4G2ogcEcckwmfUp1ArvPQ_xUNcUV_TUzkveYuqWjB7fJSuScDQhAUfmiUp6_9N92iqgGjSiK-_ws59-Hi3-I5sIiejQYSQVuZEuH-oYCpIgX60iIdN5t5qQNSiX5Vldq26xGlVsn6Bb2CD2e0V15V8TX3UKZ32p_diBdyKVwxpFkyJh4As248gx3Its-EbIsiizYD3cuuqjjwUSTdqcK3Rx0nKpououWck094kOev38HO2GCwwsmXQJGbmj-XPbh-Elc6rEdMsoKOOfEipsd9pDS5L5oH8dWoSz3MeKShtBoL41rGwSFbUfAllB0CVB4cNq7hl-zZ7PCk-zz07y7CB78_dYqYAd7-tQop5qJJD_wVpcU0IvKlmfeH2D7okMWl0BKXtn_CZcwTcs-6WNQMiGzJ65EiVvKloHII-UKk-4CeRFhhX6NLbsiU8Sw6anCSxsmm_abbNEUrGczNq7u90ZGTsQAzfBSdA6b6AYdm-itAxaHWTiM7EO729QB0erogQj0ORF5v3Z9IWK0YNsTJ80RqAlsI3hOUhMasYsldz9F2JsAJHCw199UjoTdZsCC5z42tamT6xFrq8viJZzI5XaW7lZqKXGU_rfjMf-vkdE1ZRinFflvbop5TxJcViNXjdkTVvWm6-kj0_ByVMqtg3bHAj-rt4CVedcAmD0ajjjtjHhYJR4gXOwKOJhfa23igdR8=w1617-h1213-no?authuser=2);
    background-attachment: fixed;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 5; */
}



#too-small {
    width: 100%;
}

#screen-div {
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
    top: 0;
    position: fixed;
    display: none;
    z-index: 50;
    /* position: relative; */
}

#pop-up {
    width: 90vw;
    height: 90vh;

    left: 50%;
    top: 50%;
    transform: translate(-50%, 5%);

    display: inline;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    border: none;
    top: 0px;

    position: fixed;

    z-index: 2;
    background-color: rgb(69, 69, 69);
    /* background-color: #847979; */
    /* background-color: #858585; */
    border-radius: 10px;

}

#pop-up-text {
    /* background-color: rebeccapurple; */
    z-index: 3;
    width: 80%;
    height: 15%;

    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;

    overflow-wrap: break-word;
    overflow-y: hidden;
    text-align: center;

    color: white;

}

#pop-up-image {

    width: 80%;
    height: 75%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

    /* background-color: red; */
    z-index: 3;

    display: flex;
}

#main-image {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}





#info-bar {
    /* display: inline-block; */
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 0px;
    /* margin: 0 39px; */
    height: 175px;
    width: 100%;
    /* color: pink; */
    background-color: red;
    z-index: 2;
    /* background: var(--main_background_color); */
}

/* #test {
    margin: auto;
    background-color: green;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
} */

#test2 {
    /* background-color: green; */
    background: var(--main_background_color);
    height: 100%;
    width: 65%;
    float: left;
    padding: auto;
    z-index: 1;
    position: relative;
    /* margin-left: 10%; */


}

.logo1 {
    /* background-color: purple; */
    background: var(--main_background_color);
    width: 150px;
    height: 120px;
    /* margin: auto; */

    background-image: url(https://lh3.googleusercontent.com/-Dto50-_FnZhVnlBahC0GfVA2iEyXVNxNalL9POR0hSrR0cPBsfedCBdUNLmBflGgcWrOkv23Z2giKKrsR4fc2iHDu4Br__yuWEUVNbMiwvDPcrVEXQOhdRWgjxn_29ggqY39I8_FLgLilAfMmvKqTOiJHr53R5UN_303t0fPlHsx5_GR6NkS_nUiydUf-bh3uQBd1SfK0aam8ROusvse0ZX-6JcVxjLKpPYmorKRhfXuANDOy9iYYd3Tvieah_lhI642KbcwzxPx43RQAIXpWh0Izdo7uakfeEE_bQTdOSihLHK5easOOzxXWsjFW4Fl_2zZ4v3jlWcozmD9hiS3xsm3tJlaDsh-50fxznR-cCzgWert-Cn68XcxxWSuRHrvMpqe_jGybkb91HjCbOJrWrIY1I929zWsyWvklRcj_M20RPVBnPq65zpzPFAWhPbWrgXm0Z-TuQdxH1Lm9xivds2Y5RBCzwi-4Y6lhY4dBtr7vfPJ3H1a0gfT9lQhDaaxzo6jUNHAljL2_BvdwsjKy-rn-HcupN3mdDDPSr8fsoVUYalkx4n0sRBo3buv-ZN5KKwGVx-c89AFqljkb6NNcQpkamfjoD4jgyO572Yz8goutG5CZ-fNM4s3PvMuy8eAhmZO7ET2i_vpABwIVL4e9Q_lsq3xLB4QDiizjCh5tDNMVAS3AeHHACD-uHC4atArrONbXMGo8pzuufjnQVHaXzplQgsVOwszhwFK2AZzLj8ZzY9cQZ12HEyV7681a-_ZKet_Pec-xvxkAvZmPwBLkiejNEf_eFJGbD1JLcaytef1c5y0Rqs_1RGxMC2Qc7gLAKlmFD7rdDpMMWYjzt0WDMX9bZWQq6EbKmySa5MBDuU-sqpG8ke9-mow_Cj_s4qZQHr26C06tix0xTVO39kgPsAe2IS8Uan33eWOkQwGZojoYZRXMDCXzcgiHyHCrXNRCzAk7Ih_mCUmLwrIfNE_Qxj4yjbod_RXbRNH-3E3lZ2XKRvzKV5YqT_DZo1_yam8N-ndmCxZyWHoM6W8GBATY9eNTElhq3jknwPFUOI9d1vViPJ0f0Tg9or_nBj_KoDrzV7gAndwhL9W1ahipzhLSamPhdXRVk=w200-h180-no?authuser=2);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    float: left;
    margin-top: 25px;


    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* float: left; */

}

#school-name {
    color: white;

    display: table-cell;
    vertical-align: middle;



    /* margin-top: auto; */
    /* margin-bottom: auto; */


    /* margin: -10px 20px; */
    /* text-align: center; */
    /* line-height: 2vw; */
    font-size: 2vw;

    /* bottom: 0%; */

    /* color: blue; */
    /* text-align: center; */
}

#paragraph-holder {
    /* background-color: blue; */
    background: var(--main_background_color);
    width: 35%;
    height: 100%;
    float: right;

    display: flex;
    /* justify-content: center; */
    align-items: center;

    z-index: 1;
    position: relative;

    /* width: 100px;
    height: 100px; */
}

.paragraph-text {
    /* margin-top: 0px; */

    text-align: center;
    color: white;
    word-wrap: break-word;

    /* margin: auto; */
    padding: 30px;
    /* margin-top: auto; */
    margin-bottom: 0px;

    /* margin: 20px 30px; */
    /* margin: auto; */
    min-width: 10%;
    font-size: 1.7vw;

}

/* .br {
    display: block;
    margin: 50px 0;
} */



.logo2 {
    /* background-color: blue; */
    /* background: var(--main_background_color); */
    width: 13vw;
    height: 13vw;
    margin: auto;

    background-image: url(https://lh3.googleusercontent.com/RKGyGxv6rL825JFxDN4vhbEXaxBtoMxVE4m6um8iycpUoSTiExQVT2-3IWOYPJXzIlQFDijcPH5gwGUc_n8j-nfYUCAi4BeU88hvLZstRsUbbvIGOG8xcO549bLWOSzEYHAO-eKC_OdjRicRULc3GHXbkbIZHawZb0g3i43mRETEGqBRuhuFsc_r8af0ja7gMwUCvllyePzGM--63rDr3Fsg378Z_KHG3vAPT0m5bHOsUVdDPNqkslQgK2n_pG1vlWBXe9Y699fTXu67JlUAmuAPILqeRG-1wyehDBiqxTFHx8SKQojWzWUsGVcdivZXChd7mxlzlHaZKKmvWh9bmxIw2phnJrOzCzHfdrlFQ-yp9S2qnq4XaLiBy-bly97sj3yi6y_2H62iXwFpfS8yP7r-wYVzOMrfScwYGaYd9QsTFIVX22JFvGkJkfR7q9VtV9GfTppH6OO73X9IQ47o3u0c_Ap7YTsD5aiGuM-20xxDXTpR5bjCjtYIc0wGeRSqb4dClpVQBC6g308GuaEfcuGkRvf_0D0DgV7-cJK7m-9SxN-V6Q-L4FhuppzanDhOFCPJJRH5F4PI5Z4CGyfzYI4Uzj1XT1oj3Hr7RjeiTIhGmX4hxmam0PX5mTB_Avbdf1Qhukn3z2cl3Tgj6gACyrkPFedPzwfTbQ09OAzv3dZWyRW6B8v8U_FHpJnKKTaFvt3NdlvofXl5tMy54_GoWPOPmN4I207D4_4Taq5WzDKSgRhgijMqUFpAJn6RS5t0AGsNDl2DkUlsCj6_kTgXS4VG2r7btBHwIOVLeGv3gaqOB0goWfZnsU-U6ouItrnIjL51z3adL8N7unI9bCebI4lm6Ph6sdJCBR5VZO4VHUjT69tdwxWfgyWVr39U6oQ4KW7hZWY_g7nP0oZj65E0hzNyvYhJ8-ogZ8ULt-qZ6zZPVJ-A8WDhMnR-0CNrJfi1RJOE1eRCm17MRqgfs2U6E0qaou_XRiOTnKO5pcuMV0Mz_b9Zd6pY8ZrtNIxfI29ARU-K8A7AlpE4djau_qqmYhNJwiuUS8o4B7LZ-8k4UaEeTdcQV8-K5rXO46hBBc0iLnKIunwt0uqvp-9ycK2KWdpw3w-jeDo=s1129-no?authuser=2);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-top: 20px;

}

.pin_container {
    width: 75vw;
    justify-content: center;
    display: grid;

    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);

    background: var(--main_background_color);

    /*make hidden text un-selectable*/
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* make it so text is small and hidden*/
    font-size: 0;

    outline: 1px;
    outline-style: solid;
    outline-color: white;

    z-index: 1;
    position: relative;

}

#test4 {
    width: 25%;
    /* background-color: #BFD7FF; */

    background: var(--main_background_color);

    text-align: center;
    outline: 1px;
    outline-style: solid;
    outline-color: white;
    z-index: 1;
    position: relative;
}

#everything-holder {
    display: flex;
    background-color: purple;
}

#side-bar-text {
    word-wrap: break-word;
    color: white;
    padding: 10px;
    font-size: 2vw;
}

button {
    border: none;
    background: none;

    color: white;
    float: right;
    border-radius: 5px;
}